.video-js {
  font-size: 10px;
  color: #fff; }

.video-js .vjs-icon-logo:before {
  content: "";
  background: url(../icon/logo.svg) center center no-repeat;
  background-size: 50% auto; }

.vjs-icon-play:before, .video-js .vjs-big-play-button:before {
  content: "";
  background: url(../icon/ico_play.svg) center center no-repeat;
  background-size: 50% auto; }

.video-js .vjs-play-control:before {
  content: "";
  background: url(../icon/ico_play.svg) center center no-repeat;
  background-size: 50% auto; }

.vjs-icon-pause:before, .video-js .vjs-play-control.vjs-playing:before {
  content: "";
  background: url(../icon/ico_pause.svg) center center no-repeat;
  background-size: 50% auto; }

.vjs-icon-volume-mute:before, .video-js .vjs-mute-control.vjs-vol-0:before,
.video-js .vjs-volume-menu-button.vjs-vol-0:before {
  content: "";
  background: url(../icon/ico_voice_none.svg) center center no-repeat;
  background-size: 50% auto; }

.vjs-icon-volume-low:before, .video-js .vjs-mute-control.vjs-vol-1:before,
.video-js .vjs-volume-menu-button.vjs-vol-1:before {
  content: "";
  background: url(../icon/ico_voice_l.svg) center center no-repeat;
  background-size: 50% auto; }

.vjs-icon-volume-mid:before, .video-js .vjs-mute-control.vjs-vol-2:before,
.video-js .vjs-volume-menu-button.vjs-vol-2:before {
  content: "";
  background: url(../icon/ico_voice_m.svg) center center no-repeat;
  background-size: 50% auto; }

.vjs-icon-volume-high:before, .video-js .vjs-mute-control:before,
.video-js .vjs-volume-menu-button:before {
  content: "";
  background: url(../icon/ico_voice_h.svg) center center no-repeat;
  background-size: 50% auto; }

.vjs-icon-fullscreen-enter:before, .video-js .vjs-fullscreen-control:before {
  content: "";
  background: url(../icon/ico_fullscreen_on.svg) center center no-repeat;
  background-size: 50% auto; }

.vjs-icon-fullscreen-exit:before, .video-js.vjs-fullscreen .vjs-fullscreen-control:before {
  content: "";
  background: url(../icon/ico_fullscreen_off.svg) center center no-repeat;
  background-size: 50% auto; }

.vjs-default-skin .vjs-big-play-button {
  font-size: 3em;
  /* 1.5em = 45px default */
  line-height: 3em;
  height: 3em;
  width: 3em;
  /* 0.06666em = 2px default */
  border: 2px solid #fff;
  /* 0.3em = 9px default */
  border-radius: 50%;
  /* Align center */
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em; }

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
  background-color: rgba(255, 255, 255, 0.3); }

.vjs-remaining-time-display {
	margin-top: 0.5em; 
	color: #fff;
}
/* .video-js .vjs-control-bar, */
/* .video-js .vjs-big-play-button, */
/* .video-js .vjs-menu-button .vjs-menu-content { */
/*   IE8 - has no alpha support */
/*   background-color: #fff; */
/*   Opacity: 1.0 = 100%, 0.0 = 0% */
/*   background-color: rgba(255, 255, 255, 0.1); } */

/* .video-js .vjs-slider { */
/*   background-color: white; */
/*   background-color: rgba(255, 255, 255, 0.5); */
/*   border-radius: 5px; } */

/* .video-js .vjs-volume-level, */
/* .video-js .vjs-play-progress, */
/* .video-js .vjs-slider-bar { */
/*   background: #fff; */
/*   border-radius: 5px; } */

/* .video-js .vjs-play-progress { */
/*   background: #fff100; } */

/* .video-js .vjs-load-progress { */
/*   For IE8 we'll lighten the color */
/*   background: white; */
/*   Otherwise we'll rely on stacked opacities */
/*   background: rgba(255, 255, 255, 0.5); } */

/* .video-js .vjs-load-progress div { */
/*   For IE8 we'll lighten the color */
/*   background: white; */
/*   Otherwise we'll rely on stacked opacities */
/*   background: rgba(255, 255, 255, 0.75); } */

/* .vjs-playback-rate .vjs-playback-rate-value { */
/*   font-size: 1em; */
/*   line-height: 3em; } */

/* .vjs-loading-spinner { */
/*   border: 3px solid rgba(255, 255, 255, 0.5); } */

/* .vjs-loading-spinner:before, */
/* .vjs-loading-spinner:after { */
/*   margin: -3px; */
/*   border-top-color: #fff100; } */

/* @keyframes vjs-spinner-fade { */
/*   0% { */
/*     border-top-color: #fff; } */
/*   20% { */
/*     border-top-color: #fff; } */
/*   35% { */
/*     border-top-color: #fff100; } */
/*   60% { */
/*     border-top-color: #fff; } */
/*   100% { */
/*     border-top-color: #fff; } } */

/* @-webkit-keyframes vjs-spinner-fade { */
/*   0% { */
/*     border-top-color: #fff; } */
/*   20% { */
/*     border-top-color: #fff; } */
/*   35% { */
/*     border-top-color: #fff100; } */
/*   60% { */
/*     border-top-color: #fff; } */
/*   100% { */
/*     border-top-color: #fff; } } */
